body {
	background: #F6C8D0;
	padding-top: 15px;
	font-family: Arial;
}
h1, h2, h3 {
	font-family: copperplate gothic light;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

#prompt > ul{
	display: inline;
}

#promptButton{
	position: relative;
	left: 120px;
}

#promptButtonCancel{
	position: relative;
	left: 125px;
}

#wrapper {
	border: 3px solid #DF97AE;
	width: 800px;
	background: #FBFBF7;
	padding: 20px;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 0px;
	min-height: 580px;
}

#navigation {
	float:left;
/*	border: 1px dotted #705E60; */
	margin-left: 20px;
	width: 420px;
}

#character {
	width: 300px;
	height: 450px;
	text-align: center;
	padding: 15px;
	/*background-image: url('images/body-1.png');*/
	background-repeat: no-repeat;
	background-size: cover;
}

#thoughts {
	font-family: Helvetica;
	margin-left:4px;
	margin-top: 4px;
	width: 266px;
	/*border: 2px solid gray;
		border-radius: 30px;*/
	background-image: url('images/thoughts.png');
	min-height: 66px;
	padding: 17px;
	visibility: hidden;
	position: absolute;
	background-size:;
	text-align: center;
	z-index: 8;

}

#prompt
 {
	width: 500px;
	border: 3px solid #DF97AE;
	background-color: white;
	margin-left: 140px;
	margin-top: 70px;
	min-height: 70px;
	border-radius: 10px;
	padding: 2px;
    position: absolute;
    height: 200px;
	box-shadow: 0px 0px 10px #888888;
	visibility: hidden;
	z-index: 1000;
	text-align:center;
	padding-top: 80px;
}

#congrats
 {
	width: 400px;
	border: 3px solid #DF97AE;
	background-color: white;
	margin-left: 210px;
	margin-top: 70px;
	min-height: 70px;
	border-radius: 10px;
	padding: 2px;
    position: absolute;
    height: 100px;
	box-shadow: 0px 0px 300px #888888;
	visibility: hidden;
	z-index: 1000;
	text-align:center;
	padding-top: 80px;
}

#prompt ul {
	width: 125px;
	margin: auto;
	margin-top: 30px;
}

#prompt li {
	padding: 10px;
	display: inline;
	width: 120px;
	height: 40px;
	border: 1px solid #705E60;
	list-style-type: none;
	text-align: center;
	padding-top: 10px;
	padding: 2px;
	margin: auto;
}

#settings
 {
	border: 3px solid #DF97AE;
	width: 755px;
	background: #FBFBF7;
	padding: 20px;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 0px;
    position: absolute;
	height: 535px;
	box-shadow: 0px 0px 10px #888888;
	text-align: center;
	z-index: 100;
}
#timerSettings {
	display: none;

}
button {
	padding: 10px;

}
#leftSide {
	float: left;
	   position: relative;

}

.footer {
	text-align: center;
	font-size: 8pt;
	margin-top: 2px;
}

ul {
	padding:0;
}

li {
	width: 120px;
	height: 120px;
	border: 1px solid #705E60;
	list-style-type: none;
	float: left;
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
	padding: 2px;
}

#item9 {
	width: 392px;
	height: 70px;
	visibility: hidden;
}
.selected {
	border: 1px solid red;
	background: yellow;
}
.unSelected {
	border: 1px solid gray;
	background: white;
}

#background {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    z-index: 5;
}
#body {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    z-index: 10;
}
#shoes {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    z-index: 20;
}
#pants {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    z-index: 30;
}
#shirt {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    z-index: 40;
}
#accessories {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    z-index: 50;
}
#hair {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    z-index: 60;
}
#hat {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    z-index: 70;
}