body {
	background: #F6C8D0;
	padding-top: 15px;
	font-family: arial;
}
h1, h2, h3 {
	font-family: copperplate gothic light;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

#wrapper {
	border: 3px solid #DF97AE;
	width: 800px;
	background: #FBFBF7;
	padding: 20px;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 0px;
	min-height: 580px;
}

#navigation {
	float:left;
/*	border: 1px dotted #705E60; */
	margin-left: 20px;
	width: 420px;
}

#character {
	width: 300px;
	height: 420px;
	text-align: center;
	background: #FFFEFE;
	padding: 15px;
	background-image: url('images/character.jpg');
	background-repeat: no-repeat;
}

#thoughts {
	width: 200px;
	border: 2px solid gray;
	background-color: white;
	min-height: 70px;
	border-radius: 30px;
	padding: 2px;
	visibility: hidden;
}

#prompt
 {
	width: 500px;
	border: 3px solid #DF97AE;
	background-color: white;
	margin-left: 140px;
	margin-top: 70px;
	min-height: 70px;
	border-radius: 10px;
	padding: 2px;
    position: absolute;
    height: 200px;
	box-shadow: 0px 0px 10px #888888;
	visibility: hidden;
	z-index: 1000;
}

#settings
 {
	border: 3px solid #DF97AE;
	width: 755px;
	background: #FBFBF7;
	padding: 20px;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 0px;
    position: absolute;
	height: 535px;
	box-shadow: 0px 0px 10px #888888;
	text-align: center;
}
button {
	padding: 10px;

}
#leftSide {
	float: left;
}

.footer {
	text-align: center;
	font-size: 8pt;
	margin-top: 2px;
}

ul {
	padding:0;
}

li {
	width: 120px;
	height: 120px;
	border: 1px solid #705E60;
	list-style-type: none;
	float: left;
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
	padding: 2px;
}

#item9 {
	width: 392px;
	height: 70px;
	visibility: hidden;
}

.selected {
	border: 1px solid red;
	background: yellow;
}

#hat {
    position: relative;
    top: 10px;
    right: 20px;
}
#accessories {
    position: accesories;
    top: 0px;
    right: 60px;
}
#shirt {
    position: relative;
    top: 0px;
    right: 70px;
}
#jacket {
    position: relative;
    top: 20px;
    right: 20px;
}
#pants {
    position: relative;
    top: 0px;
    right: 60px;
}
#shoes {
    position: relative;
    top: 0;
    right: 60px;
}
#background {
    position: relative;
    top: 0;
    right: 90px;
}
#face {
    position: relative;
    top: 0;
    right: 60px;
}
