body {
	background: #F6C8D0;
	padding-top: 15px;
	font-family: arial;
}
h1 {
	font-family: copperplate gothic light;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

#wrapper {
	border: 3px solid #DF97AE;
	width: 800px;
	background: #FBFBF7;
	padding: 20px;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 0px;
	min-height: 520px;
}

#navigation {
	float:left;
/*	border: 1px dotted #705E60; */
	margin-left: 20px;
	width: 420px;
}

#character {
	float:left;
	width: 300px;
	text-align: center;
	background: #FFFEFE;
	padding: 15px;
}

.footer {
	text-align: center;
	font-size: 8pt;
	margin-top: 2px;
}

ul {
	padding:0;
}

li {
	width: 120px;
	height: 120px;
	border: 1px solid #705E60;
	list-style-type: none;
	float: left;
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
	padding: 2px;
}

.selected {
	border: 1px solid red;
	background: yellow;
}
